<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>易鲸捷数据库安装</title>
		<link href="../static/lib/css/jquery.dataTables.min.css" rel="stylesheet">
		<link href="../static/lib/css/bootstrap.css" rel="stylesheet">
		<link href="../static/lib/css/bootstrap-multiselect.css" rel="stylesheet">
                <link href="../static/css/installation.css" rel="stylesheet" />
                <link type="text/css" href="../static/lib/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<script src="../static/lib/js/jquery.min.js"></script>
		<script src="../static/lib/js/jquery.dataTables.min.js"></script>
		<script src="../static/lib/js/bootstrap.min.js"></script>
		<script src="../static/lib/js/bootstrap-multiselect.js"></script>
		<script src="../static/js/InstallView.js"></script>
		<link href="../static/lib/images/sort_asc.png" rel="stylesheet">
		<link href="../static/lib/images/sort_both.png" rel="stylesheet">
	</head>

	<body>
		<div class="navbar-wrapper">
			<nav class="navbar navbar-inverse  navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">易鲸捷数据库安装</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li>
								<a href="/">配置</a>
							</li>
							<li>
								<a href="installPage">安装</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="container">
				<div role="tabpanel" class="tab-pane active" id="list">
					<div class="panel panel-default" style="margin-top:80px">
						<div class="panel-heading" style="height:50px">安装列表
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#installDialog" style="float:right;margin-left:10px">新建</button>
						</div>
						<table id="installTable" class="table table-hover"></table>
					</div>
				</div>

				<div id="installDialog" class="modal fade bs-example-modal-md" role="dialog">
					<div class="modal-dialog modal-md">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Confiuration Detail</h4></div>
							<div class="modal-body">
								<form class="form-horizontal" id="form">
									<div class="form-group">
										<label for="exampleInputEmail1" class="col-sm-3 control-label" style="padding-left: 0px; padding-right: 0px">选择安装配置</label>
										<div class="col-sm-9">
											<select id="selectConfig" name="selectConfig" class="form-control"></select>
										</div>
									</div>
								</form>
								<div class="alert alert-danger alert-dismissible fade in" role="alert" id="myAlert" style="display:none">
									<button type="button" class="close" aria-label="close"></button>请选择配置文件</div>
								<div class="alert alert-danger alert-dismissible fade in" role="alert" id="myAlert1" style="display:none">
									<button type="button" class="close" aria-label="close"></button>该集群正在安装</div>
							</div>
							<div class="modal-footer" style="height: 90px">
								<input id="installApplyButton" class="submit btn btn-success" type="submit" value="Install">
								<input id="discoverApplyButton" class="submit btn btn-success" type="submit" value="Discover">
								<input id="installResetButton" class="submit btn btn-primary" type="button" value="Reset">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button></div>
						</div>
					</div>
				</div>
				<!-- 节点细节modal -->
				<div id="slaveDialog" class="modal fade bs-example-modal-lg" role="dialog">
					<div class="modal-dialog modal-lg">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<div class="slave-detail">
									<h4 class="modal-title">Slave Detail</h4></div>
							</div>
							<div class="modal-body">
								<h3 class="errMsg">Return Message</h3>
								<div id="errMsg" class="well errMsg"></div>
								<h3>Log Content</h3>
								<div id="logContent" class="well"></div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button></div>
						</div>
					</div>
				</div>
				<div id="checkDialog" class="modal fade bs-example-modal-lg" role="dialog">
					<div class="modal-dialog modal-lg">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title check-list">Slave Check</h4>
								<h4 id="hostName" class="modal-title check-detail" style="display:none"></h4>
							</div>
							<div class="modal-body">
								<div class="check-detail">
									<div id="tab">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary check-detail" style="display:none" id="checkShow">
                  <span class="glyphicon glyphicon-arrow-left">BACK</span></button>
								<button type="button" class="btn btn-success" data-dismiss="modal">OK</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
